<header
class="h-14 border-b border-[#314158] flex items-center justify-between px-4"
>
<section class="flex items-center gap-10">
  <div>
    <h1>florent-azonnoudo</h1>
  </div>
  <nav class="hidden md:block">
    <ul class="flex">
      <li class="px-8 p-4 border-l border-[#314158] relative group">
        <a
          routerLink="/"
          routerLinkActive="active"
          class="relative cursor-pointer"
          >_home</a
        >
        <div
          class="absolute bottom-0 left-0 w-0 h-[2px] bg-[#FFB86A] transition-all duration-300 group-hover:w-full"
        ></div>
      </li>
      <li class="px-8 p-4 border-l border-[#314158] relative group">
        <a
          routerLink="/about-me"
          routerLinkActive="active"
          class="cursor-pointer"
          >_about-me</a
        >
        <div
          class="absolute bottom-0 left-0 w-0 h-[2px] bg-[#FFB86A] transition-all duration-300 group-hover:w-full"
        ></div>
      </li>
      <li class="px-8 p-4 border-x border-[#314158] relative group">
        <a
          routerLink="/projects"
          routerLinkActive="active"
          class="cursor-pointer"
          >_my-projects</a
        >
        <div
          class="absolute bottom-0 left-0 w-0 h-[2px] bg-[#FFB86A] transition-all duration-300 group-hover:w-full"
        ></div>
      </li>
    </ul>
  </nav>
</section>
<div class="px-8 p-4 border-l border-[#314158] relative group">
  <a
    routerLink="/contact-me"
    routerLinkActive="active"
    class="cursor-pointer"
    >_contact-me</a
  >
  <div
    class="absolute bottom-0 left-0 w-0 h-[2px] bg-[#FFB86A] transition-all duration-300 group-hover:w-full"
  ></div>
</div>
</header>